/* Mobile first design */
.nav-container {
    display: flex;
    justify-content: center;
    margin: 20px 50px;
    flex-direction: column;
    gap: 10px;
}

.nav-item {
    background-color: #92ba98;
    padding: 15px;
    text-align: center;
}

.nav-item a {
    color: black;
    font-size: 24px;
    /* font-family: "Zeyada", cursive; */
}

.nav-item a:hover {
    color: white;
}

ul .selected{
    font-weight: 900
}

#feature-card {
    position: relative;
    z-index: 1;
    text-align: center;
    /* background-color: #92ba98; */
    font-size: 48px;
    font-weight: bold;
    padding: 50px;
    color: black;
    /* font-family: "Zeyada", cursive; */
}
body{
    background-image: url('../nnnoise.svg');
    font-family: "Zeyada", cursive;
/*     background-color: #ebf4e9; */
}
.recipes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recipe{
    width: 80vw;
    line-height: 2;
    height: 80vw
}
.recipes_inner > img {
    object-fit: cover;
    width: 80vw;
    border-radius: 15px;
    margin: 10px


}

.text{
    background-color: rgba(252, 252, 252, 0.92);
    width: 80vw;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 10%;
}

.recipes_inner > p, h2, h3{
    margin: 5%
} 

h2{
    text-decoration: underline;
    font-size: large;
}

.skip-to-main {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 250px;
    text-align: center;
    transition: 1s ease-out;
    border-radius: 15px;
    background-color: #aeb7aa;
}

.skip-to-main:focus {
    position: absolute;
    top: 10px;
    border: 3px solid white;
}

header p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 350%;
    font-variant: small-caps;
    text-align: center;
    padding-top: 5%;
    line-height: 100%;
}

.subtitle {
    font-size: 100%;
    font-style: italic;
    padding: 1%;
    position: relative;

}

#accessibleButton {
    position: absolute;
    background-color: #aeb7aa;
    border: 1px solid black;
    top: 0;
    right: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-family: 'Georgia', 'Times New Roman', Times, serif;

}

li{
    list-style: none;
}

#feature-card {
    position: relative;
    z-index: 1;
    text-align: center;
    background-color: #92ba98;
    font-size: 48px;
    font-weight: bold;
    padding: 50px;
    color: black;
    /* font-family: "Zeyada", cursive; */
}

/* responsive design for tablet viewport */
@media screen and (min-width: 800px) {
    .nav-item {
        background-color: #92ba98;
        padding: 15px;
    }

    .nav-item a {
        color: black;
        font-size: 24px;
        /* font-family: "Zeyada", cursive; */
    }

    .nav-item a:hover {
        color: white;
    }

    .nav-container {
        display: flex;
        justify-content: flex-end;
        margin: 20px 150px;
        flex-direction: row;
        gap: 32px;
    }

    #feature-card {
        position: absolute;
        top: 30%;
        left: 5%;
        z-index: 1;
        background-color: #92ba98;
        font-size: 36px;
        font-weight: bold;
        padding: 20px;
        color: black;
    }

    .grid{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;
    }

    .recipeImg{
        width: 50vw;
        height: 50vw;
    
    }
    .recipes_inner{
        position: relative;
        height: auto;
        width: 100%;
        display: inline-block;
        justify-content: center;
        padding: 20px;
        z-index: 1;
    }
    
    .recipes_inner > img{
        object-fit: cover;
        /* width:45vw;
        height: 45vw; */
        border-radius: 20px;
        height: 350px;
        width: 250px;
        box-sizing: border-box;
        border-radius: 15px;
        border: solid 2px rgba(0,0,0,0.2);
    }

    .recipe_container {
        grid-row: auto;
        grid-column: auto;
        margin-top: 80px;
        position: relative; /* Ensure relative positioning */
        width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
    }

    .recipes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 10px 10px 20px rgb(0 0 0 / 40%), inset 0px 0px 25px rgb(0 0 0 / 30%);
        position: absolute;
        width: 250px;
        height: 350px;
        transition: all 400ms ease;
        background-size: cover;
        background-position: center;
        background-color: rgba(252, 252, 252, 0.92);
    }

    .recipes:hover:not(.active).right, .recipes:focus:not(.active).right {
        transform: translateX(45%) rotate(3deg) scale(0.9);
    }
    
    .recipes.active:hover, .recipes.active:focus {
        transform: translateX(-20%) scale(1.1);
    }

    .recipes.right {
        transform: translateX(45%) scale(0.9);
    }
    .recipes.text{
        align-items: unset;
    }
    
    .recipes.text h3,
    .recipes.text p {
        margin: 0 0 0 0; /* Reset margin to avoid unwanted space */
        padding: 10px; /* Add padding to create space within the container */
        box-sizing: border-box; /* Include padding in element's total width/height */
    }

    .recipes.text h2{
        margin-top: 20px;
        padding: 10px;
        box-sizing: border-box;
    }

    .recipes.right.text{
        overflow: hidden;
    }
    
    .recipes:not(.right).text{
        overflow: auto;
    }

    .recipes.active {
        transform: translateX(-20%);
    }
    
    .recipes.active {
        z-index: 5;
        position: relative;
    }
    .recipes.text {
        overflow-y: auto; /* Enable vertical scrolling */
        box-sizing: border-box;
        max-height: fit-content;
    }
}

/* responsive design for desktop viewport */
@media screen and (min-width: 1200px) {
    .grid{
        display: grid;
        grid-template-columns: 33% 33% 33%
    }

    #feature-card {
        position: absolute;
        top: 30%;
        left: 5%;
        z-index: 1;
        background-color: #92ba98;
        font-size: 48px;
        font-weight: bold;
        padding: 25px;
        color: black;
    }


    }
